body {
    font-family: Helvetica, Arial, Sans-Serif;
}

#title {
    font-size: 2em;
    font-weight: bold;
    font-style: sans-serif;
}

#title h1 {
    padding: 100px;
    margin: 0;
}

.row {
    display: flex;
}

#scoreboard {
    width: 300px;
}

#guess {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

.page {
    width: 80%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.inline-list dd, .inline-list dt {
    display: inline-block;
}

.inline-list dt {
    width: 80px;
}

.center {
    justify-content: center;
}